/*@import 'common.css';*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic');

.content {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    background: #1B9CFC;
    padding-bottom: 4.2%;
}

.flex-text {
    padding-top: 8%;
    text-align: center;
    color: aliceblue;
}

.flex-text h3 {
    /* margin-top: 2.5%; */
    padding-top: 2.0%;
    padding-bottom: 3.5%;
    font-weight: 200;
}

div .bootstrap-datetimepicker-widget.dropdown-menu {
    width: 250px;
}

.input-data {
    box-sizing: border-box;
    border: 1px solid #2196F3;/
    padding: 5px 5px;
    color: black;
    outline: none;
    margin: 10px 0;
    text-align: left;
    box-shadow: 1px 2px 5px rgba(59, 59, 59, 0.5);
}

.flex-conteiner{
}

#arrival, #departure,.input-group-append .input-group-text {
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: black;
    outline: none;
    margin: 10px 0;
    text-align: left;
    box-shadow: 1px 2px 5px rgba(59, 59, 59, 0.5);
}

#arrival, #departure{
    border: 1px solid #2196F3;
    border-right: 0;
    width: 100%;
    height: 60px;
}

input #departure{
    padding-left: 5%;
}

.input-group-append .input-group-text{
    border: 1px solid #2196F3;
    border-left: 0;
}

#city {
    flex: 5;
    border-radius: 6px 0 0 6px;
    width: 100%;
    height: 60px;
}

#amount {
    flex: 2;
    border-radius: 0 6px 6px 0;
    width: 100%;
    height: 60px;
}

.submit-btn {
    margin-top: 5%;
    align-self: center;
    justify-self: center;
}

.submit-btn input {
    width: 310px;
    background: #0b56ea;
    border: 0;
    color: white;
    font-size: 16pt;
    /* font-weight: 500; */
    height: 60px;
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn input:hover {
    background: #07348f;
}

#departure, #arrival, #city, #amount {
    font-family: 'Montserrat', sans-serif;
}

/*@media screen and (max-width: 1031px) {*/
    /*.forth-input {*/
        /*width: 670.84px;*/
        /*margin: 1.5px;*/
    /*}*/

    /*.first-input  {*/
        /*width: 341.04px;*/
    /*}*/

    /*.second-input,*/
    /*.third-input, .input-group {*/
        /*width: 177.41px;*/
    /*}*/

    /*#amount {*/
        /*border-radius: 0 0 6px 6px;*/
        /*flex: 5;*/
    /*}*/

    /*#city {*/
        /*border-radius: 6px 0 0 0;*/
    /*}*/

    /*#amount::placeholder {*/
        /*color: #07348f;*/
    /*}*/

    /*#city::placeholder, #arrival::placeholder, #departure::placeholder{*/
        /*padding-left: 5%;*/
    /*}*/

    /*#departure, #amount::selection {*/
        /*padding-left: 5%;*/
    /*}*/

    /*#departure {*/
        /*border-radius: 0 6px 0 0;*/
    /*}*/

    /*#city,*/
    /*#arrival,*/
    /*#departure,*/
    /*#amount {*/
        /*padding: 0;*/
        /*border: 0;*/
        /*margin: 0;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 745px) {*/
    /*.first-input {*/
        /*width: 45.4%;*/
    /*}*/

    /*.second-input,*/
    /*.third-input, .input-group {*/
        /*width: 26.5%;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 627px) {*/

    /*#city {*/
        /*border-radius: 6px 6px 0 0;*/
    /*}*/

    /*#departure {*/
        /*border-radius: 0;*/
    /*}*/

    /*.first-input {*/
        /*width: 100%;*/
    /*}*/

    /*.second-input,*/
    /*.third-input,*/
    /*.input-group {*/
        /*padding: 0;*/
        /*border: 0;*/
        /*width: 49.3%;*/
        /*margin: 0;*/
    /*}*/

    /*.second-input {*/
        /*margin-right: 0.25%;*/
    /*}*/

    /*.third-input {*/
        /*margin-left: 0.25%;*/
    /*}*/
/*}*/

/*@media screen and (max-height: 598px) {*/
    /*#departure, #arrival,*/
    /*#city, #amount {*/
        /*height: 45px;*/
    /*}*/

    /*.submit-btn input {*/
        /*height: 45px;*/
        /*width: 280px;*/
    /*}*/
/*}*/