/*@import 'common.css';*/

html {
    align-items: center;
    flex-flow: column nowrap;
    justify-content: stretch;
    font-family: 'Montserrat', sans-serif;
}

footer {
    
    text-align: center;
    background: #3B3B98;
    /* height: 65px; */
}

.social-media {
    display: inline-table;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #1B9CFC;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.social-media i {
    line-height: 50px;
    font-size: 23px;
    transition: 0.3s linear;
}

.social-media:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.social-media::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #1B9CFC;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.social-media:hover::before {
    animation: animation 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes animation {
    0% {
        top: -110%;
        left: 90%;
    }50%{
        top: 10%;
        left: -30%;
    }100%{
        top: -10%;
        left: -10%; 
    }
}

@media screen and (max-width:360px){
    .social-media{
        width: 40px;
    height: 40px;
    }
    .social-media i {
        line-height: 40px;
        font-size: 22px;
        transition: 0.3s linear;
    }
}