/*@import 'common.css';*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic');
header {
    background: #0b56ea;
    padding: 0 20px;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#signUpButton,#autButton{
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
}
