@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic');

div {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: blueviolet;
}

/*.login-form {*/
    /*background: #f1f1f1;*/
    /*width: 360px;*/
    /*border-radius: 1vh;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*position: absolute;*/
    /*padding: 40px 20px;*/
    /*transform: translate(-50%, -50%)*/
/*}*/

/*.login-form.registration-visability {*/
    /*min-height: 580px;*/
    /*height: auto;*/
/*}*/

/*.login-form h1 {*/
    /*text-align: center;*/
    /*margin-bottom: 60px;*/
/*}*/

.validation-data {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
    /* border: #333 solid 2px; */
}

.validation-data input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 90%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.validation-data span::before {
    content: attr(data-palceholder);
    position: absolute;
    top: 60%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.validation-data span::after {
    /* border: #333 solid 10px; */
    content: '';
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0%;
    height: 2px;
    background-color: blueviolet;
    transition: .5s;
}

.focus+span::before {
    top: -5px;
}

.focus+span::after {
    width: 100%;
}

.input-explain {
    color: rgb(121, 121, 121);
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 2px 5px;
    position: absolute;
}

#addEmail,.extra-email .removeEmail{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    color: rgb(121, 121, 121);
    border: rgb(121, 121, 121) 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 55%;
    right: 0;
    top: 20%;
    transition: .7s;
}

#addEmail:hover, .removeEmail:hover {
    color: blueviolet;
    border: blueviolet 1.5px solid;
}


.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: blueviolet;
    color: #f1f1f1;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.bottom-text {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}

.registration-visability {
    transition: 0.9s;
    display: none;
    height: 80%
}